CREATE SCHEMA pn AUTHORIZATION backup;

-- Volumes de armazenamento
CREATE TABLE pn.volume (
	vol_id serial4 NOT NULL,
	vol_hostname text NOT NULL,
	vol_root_path text NOT NULL,
	CONSTRAINT volume_pkey PRIMARY KEY (vol_id)
);
CREATE UNIQUE INDEX idx_volume_hostname_root_path ON pn.volume USING btree (vol_hostname, vol_root_path);
CREATE INDEX idx_volume_hostname ON pn.volume USING btree (vol_hostname);
CREATE INDEX idx_volume_root_path ON pn.volume USING btree (vol_root_path);
insert into pn.volume (vol_id, vol_hostname, vol_root_path) values (1, 'system', '/root');
SELECT setval('pn.volume_vol_id_seq', (SELECT MAX(vol_id) FROM pn.volume));

-- Usuários do sistema
CREATE TABLE pn.user (
	usr_id serial4 NOT NULL,
	usr_name text NOT NULL,
	usr_domain text NULL,
	CONSTRAINT user_pkey PRIMARY KEY (usr_id)
);
CREATE UNIQUE INDEX idx_user_name_domain ON pn.user USING btree (usr_name, usr_domain);
CREATE INDEX idx_user_name ON pn.user USING btree (usr_name);
CREATE INDEX idx_user_domain ON pn.user USING btree (usr_domain);
-- User 'system' para operações automáticas, sem um usuário específico
insert into pn.user (usr_id, usr_name, usr_domain) values (1, 'system', null);
SELECT setval('pn.user_usr_id_seq', (SELECT MAX(usr_id) FROM pn.user));

-- Grupos de segurança para arquivos
CREATE TABLE pn.secgroup (
	sgr_id serial4 NOT NULL,
	sgr_name text NOT NULL,
	sgr_domain text NULL,
	CONSTRAINT secgroup_pkey PRIMARY KEY (sgr_id)
);
CREATE UNIQUE INDEX idx_secgroup_name_domain ON pn.secgroup USING btree (sgr_name, sgr_domain);
CREATE INDEX idx_secgroup_name ON pn.secgroup USING btree (sgr_name);
CREATE INDEX idx_secgroup_domain ON pn.secgroup USING btree (sgr_domain);
-- Grupo 'public' para arquivos públicos
insert into pn.secgroup (sgr_id, sgr_name, sgr_domain) values (1, 'public', null);
-- Grupo 'private' para arquivos privados
insert into pn.secgroup (sgr_id, sgr_name, sgr_domain) values (2, 'private', null);
-- Grupo 'restricted' para arquivos restritos
insert into pn.secgroup (sgr_id, sgr_name, sgr_domain) values (3, 'restricted', null);
SELECT setval('pn.secgroup_sgr_id_seq', (SELECT MAX(sgr_id) FROM pn.secgroup));

--- Arquivos armazenados
CREATE TABLE pn.stored_file (
	sfi_id serial4 NOT NULL,
	sfi_relative_path text NOT NULL,
	sfi_name text NOT NULL,
    sfi_volume_id int4 NOT NULL,
    sfi_size_bytes int8 NOT NULL,
    sfi_last_modified timestamp NOT NULL,
    sfi_last_access timestamp NULL,
    sfi_hash_md5 text NULL,
    sfi_user_id int4 NOT NULL default 1,
	CONSTRAINT files_pkey PRIMARY KEY (sfi_id)
);
ALTER TABLE pn.stored_file ADD CONSTRAINT stored_file_volume_id_fkey FOREIGN KEY (sfi_volume_id) REFERENCES pn.volume(vol_id);
ALTER TABLE pn.stored_file ADD CONSTRAINT stored_file_user_id_fkey FOREIGN KEY (sfi_user_id) REFERENCES pn.user(usr_id);
CREATE INDEX idx_stored_file_path ON pn.stored_file USING btree (sfi_relative_path);
CREATE INDEX idx_stored_file_name ON pn.stored_file USING btree (sfi_name);
CREATE INDEX idx_stored_file_last_modified ON pn.stored_file USING btree (sfi_last_modified);
CREATE INDEX idx_stored_file_last_access ON pn.stored_file USING btree (sfi_last_access);
CREATE INDEX idx_stored_file_size ON pn.stored_file USING btree (sfi_size_bytes);
CREATE INDEX idx_stored_file_hash_md5 ON pn.stored_file USING btree (sfi_hash_md5);
CREATE INDEX idx_stored_file_volume_id ON pn.stored_file USING btree (sfi_volume_id);
CREATE INDEX idx_stored_file_user_id ON pn.stored_file USING btree (sfi_user_id);

-- Associação entre arquivos e grupos de segurança
CREATE TABLE pn.file_secgroup (
    fsg_file_id int4 NOT NULL,
    fsg_secgroup_id int4 NOT NULL,
    CONSTRAINT file_secgroup_pkey PRIMARY KEY (fsg_file_id, fsg_secgroup_id)
);
ALTER TABLE pn.file_secgroup ADD CONSTRAINT file_secgroup_file_id_fkey FOREIGN KEY (fsg_file_id) REFERENCES pn.stored_file(sfi_id) ON DELETE CASCADE;
ALTER TABLE pn.file_secgroup ADD CONSTRAINT file_secgroup_secgroup_id_fkey FOREIGN KEY (fsg_secgroup_id) REFERENCES pn.secgroup(sgr_id) ON DELETE CASCADE;
CREATE INDEX idx_file_secgroup_file_id ON pn.file_secgroup USING btree (fsg_file_id);
CREATE INDEX idx_file_secgroup_secgroup_id ON pn.file_secgroup USING btree (fsg_secgroup_id);
CREATE INDEX idx_file_secgroup_file_id_secgroup_id ON pn.file_secgroup USING btree (fsg_file_id, fsg_secgroup_id);
CREATE INDEX idx_file_secgroup_secgroup_id_file_id ON pn.file_secgroup USING btree (fsg_secgroup_id, fsg_file_id);

-- --- IGNORE ---
-- Em testes, ainda

-- insert into pn.secgroup (sgr_id, sgr_name, sgr_domain) values (1, 'public', null);
-- insert into pn.secgroup (sgr_id, sgr_name, sgr_domain) values (2, 'private', null);
-- insert into pn.secgroup (sgr_id, sgr_name, sgr_domain) values (  3, 'restricted', null);
-- SELECT setval('pn.secgroup_sgr_id_seq', (SELECT MAX(sgr_id) FROM pn.secgroup));
-- insert into pn.volume (vol_id, vol_hostname, vol_root_path) values (1, 'localhost', '/data/vol1');
-- SELECT setval('pn.volume_vol_id_seq', (SELECT MAX(vol_id) FROM pn.volume));
-- insert into pn.stored_file (sfi_id, sfi_relative_path, sfi_name, sfi_volume_id, sfi_size_bytes, sfi_last_modified, sfi_last_access, sfi_hash_md5, sfi_user_id) values (1, 'docs', 'file1.txt', 1, 1234, '2024-06-01 12:00:00', '2024-06-10 12:00:00', 'd41d8cd98f00b204e9800998ecf8427e', 1);
-- insert into pn.stored_file (sfi_id, sfi_relative_path, sfi_name, sfi_volume_id, sfi_size_bytes, sfi_last_modified, sfi_last_access, sfi_hash_md5, sfi_user_id) values (2, 'docs', 'file2.txt', 1, 5678, '2024-06-02 12:00:00', '2024-06-11 12:00:00', 'd41d8cd98f00b204e9800998ecf8427e', 1);
-- insert into pn.stored_file (sfi_id, sfi_relative_path, sfi_name, sfi_volume_id, sfi_size_bytes, sfi_last_modified, sfi_last_access, sfi_hash_md5, sfi_user_id) values (3, 'images', 'image1.png', 1, 2345, '2024-06-03 12:00:00', '2024-06-12 12:00:00', 'd41d8cd98f00b204e9800998ecf8427e', 1);  

